{% extends 'base.html.twig' %}

{% block title %}Datos del Equipo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilsEquip.css') }}">
{% endblock %}

{% block body %}

<h1 id="titolEquip">Equipo {{ equip.codi }}</h1>


    <div class="paragrafEquip">
  <p>Proyecto 2n DAW</p><br>
   <h1 style="color:red;">Imatge Equipos</h1><br>
   <img src="{{ asset(imagen_ruta) }}" alt="Imagen del Equipo" class="imatgeEquip" style="width: 250px; height: 250px;">
   </div>

<div class="paragrafEquip">
    <div class="line"><span class="bold">Codi:</span> {{ equip.codi }}</div>
    <div class="line"><span class="bold">Nombre:</span> {{ equip.nom }}</div>
    <div class="line"><span class="bold">Ciclo:</span> {{ equip.cicle }}</div>
    <div class="line"><span class="bold">Curs:</span> {{ equip.curs }}</div>
    <div class="line"><span class="bold">Miembros:</span> {{ equip.membres|join(', ') }}</div>
</div>

<div class="paragrafEquip">
<a href="{{ path('inici') }}">
        <img src="{{ asset('images/casita.png') }}"style="width: 50px; height: 50px; border-radius:5px; alt="siu">Volver al inicio    </a>
</div>
    {% endblock %}

